@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


*{margin: 0;padding: 0;box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
/* body{overflow-x: hidden;} */
#wrap{
    width: 100%;
    background-color: #fff;
}
header{
    width: 100%;
    height: 80px;   
}
#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #ffff;
}
header .drop_box{
    width: 100%;
    height: 240px;
    background-color: rgba(255 , 255, 255, 0.4);
    z-index: 4;
    display: none;
    /* background-color: aqua; */
}
header .m_box{
    display: none;
}
#head{
    width: 70%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu_btn{
    display: none;
}
nav{
    width: 80%;
    height: 100%;
}
nav div{
    width: 100%;
    height: 30%;
    text-align: right;
    padding: 0 8px;
}
nav div a{
    padding: 0 5px;
}
nav .menu_btn{
    display: none;
}
#main_menu{
    width: 100%;
    height: calc(100% - 30%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#main_menu>li{
    width: 18%;
    height: 90%;
    text-align: center;
}
#main_menu>li>a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#main_menu>li>a::after{
    position: absolute;
    content: '';
    border-right: 1px solid;
    width: 100%;
    height: 30%;
}
#main_menu>li>a:hover{
    background-color: darkgray;
    color: #ffff;
    font-weight: bolder;
}
#main_menu>li>.sub{
    width: 10%;
    position: absolute;
    z-index: 5;
}
#main_menu>li>.sub>li{
    width: 100%;
}
#main_menu>li>.sub>li>a{
    width: 100%; 
    height: 40px;
    line-height: 40px;
    display: block;
}
#main_menu>li>.sub>li>a:hover{
    background-color: cornflowerblue;
    color: #ffff;
}
#img .mein_img{
    width: 100%;
    height: 200px;
    background-image: url(../img/slide2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
#img h1{
    font-size: 4rem;
    color: #fff;
}
#baps2{
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    line-height: 50px;
}
#baps2 .b2_sub{
    width: 100%;
    display: flex;
    justify-content: center;
}
#baps2 .b2_sub li{
    display: inline-block;
    width: 10%;
    /* border: 1px solid; */
}
#baps2 .b2_sub li a{
    display: block;
    width: 100%;
}
#baps2 .b2_sub li a:hover{
    font-weight: bold;
}
#greeting{
    width: 100%;
    text-align: center;
    margin: 40px 0;
}
#greeting hr{
    width: 150px;
    height: 5px;
    background-color: #9292;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

#greeting .ceo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    /* flex: 1 3 100px; */
    flex-wrap: wrap;
}
#greeting img{
    width: 300px;
}
#greeting .vers{
    /* flex: 2; */
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
#greeting .vers p{
    font-size: 18px;
}
#greeting .vers span{
    color: blue;
    font-size: 22px;
    font-weight: bold;
}
#greeting .sign{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#greeting .sign img{
    width: 150px;
}
footer{
    margin-top: 100px;
    width: 100%;
    background-color: #929292;

}
#footer{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}
#footer .footer_logo{
    width: 30%;
}
#footer .info{
    /* width: calc(100% - 30%); */
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
    
}
#footer .info .address{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* 반응형 */
@media (max-width:1200px) {
    #main_menu>li>sub>li>a{
        font-size: 14px;
    }
    #main_menu>li:first-child>.sub>li:nth-last-child(3)>a{
        font-size: 9px;
    }
    #baps2 .b2_sub{
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    #baps2 .b2_sub li{
        flex: 1 1 200px;
        
    }
    #baps2 .b2_sub li a{
        border-radius: 10px;
    }
    #baps2 .b2_sub li a:hover{
        background-color: rgba(0, 0, 0, 0.25);
    }
}


@media (max-width:900px) {
    #wrap{
        width: 100%;
        overflow: hidden;
    }
    /* 헤드 */
    #head{
        width: 90%;
    }
    nav{
        display: none;
    }
    .menu_btn{
        display: block;
        position: absolute;
        top: 25px;
        right: 50px;
        z-index: 15;
    }

    /* 아코디언 메뉴(모바일메뉴)---------------------------- */
    .blur{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -100%;
        /* z-index: 3; */
        backdrop-filter: blur(10px);
        /* transition-duration: 1s; */
    }
    .blur.active{
        right: 0;
    }


    header .m_box{
        display: block;
        width: 60%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -60%;
        /* z-index: 10; */
        background-color: #ffff;
        padding-top: 80px;
        box-shadow: 0px 0px 1px 0px;
        transition-duration: 1s;
    }
    header .m_box.active{
        right: 0;        
    }
    header #m_main_menu{
        width: 100%;
    }
    header #m_main_menu>li>a{
        display: block;
        font-size: 22px;
        font-weight: bold;
        line-height: 60px;
        text-indent: 50px;
        background-color: #ffff;
        border-bottom: 1px solid #9292;
    }
    header #m_main_menu .sub>li>a{
        display: block;
        line-height: 35px;
        font-size: 17px;
        text-indent: 70px;
        background-color: rgba(77, 154, 232, 0.437);
        border-bottom: 1px solid #9292;
    }

    /* 푸터 */
    footer #footer{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    #footer .footer_logo{
        width: 100%;
        text-align: center;
    }
    #footer .info .address{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

